@import url(https://fonts.googleapis.com/css2?family=Open+Sans);

@media (max-width: 576px) {
    body {
        font-size: .9em;
    }
}

@media (min-width:992px) {
    #navbarNav {
        width: 30%;
    }

    /* Selectors */

    a.nav-link:hover {
        animation: cubic-bezier(0.075, 0.82, 0.165, 1) link-hover 1s;
    }

    /* Animations */

    @keyframes link-hover {
        0% {
            transform: scale(1.5, 1.5);
            text-shadow: 0px 4px 2px #5a5a5a;
        }

        50% {
            transform: translateY(1em);
            text-shadow: 0px 4px 2px #5a5a5a;
        }

        75% {
            transform: translateY(-1em);
            text-shadow: 0px 4px 2px #5a5a5a;
        }

        100% {
            transform: translateY(0);
            text-shadow: 0px 2px 2px 4px #5a5a5a;
        }
    }
}

/* General body rule */

body {
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
    overflow: auto;
    color: rgb(40, 40, 40);
}

/* Main content rules */

a {
    text-decoration: none;
    color: rgb(40, 40, 40);
}

main {
    font-size: 1.1em;
}

section {
    margin: .5%;
    padding: .5%;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 200;
}

#main-img {
    max-width: 20%;
    max-height: 20%;
}

/* Navigation */

.navbar {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 5px #b7b7a4;
    padding: 0% 3%;
    margin-bottom: 5%;
}

#meko-nav {
    height: 80px;
    width: 200px;
}

/* Icon alignments */

.fab,
.fas,
.devi {
    margin: 0% .5%;
    font-size: 2em;
}

/* List */

li {
    margin: 1%;
    list-style: none;
}